.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .not-found__title {
    margin-top: 246px;
    margin-bottom: 0px;
    font-size: 140px;
    font-weight: 400;
    line-height: 169px;
  }
  .not-found__subtitle {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }
  .not-found__link {
    margin-top: 184px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: rgba(66, 133, 244, 1);
    background: none;
    border: none;
  }
  .not-found__link:hover {
    opacity: 70%;
    cursor: pointer;
  }
  @media screen and (max-width: 800px) {
    .not-found__title {
      margin-top: 408px;
    }
  }
  @media screen and (max-width: 400px) {
    .not-found__title {
      margin-top: 329px;
      font-size: 80px;
      line-height: 97px;
    }
    .not-found__subtitle {
      margin-top: 10px;
      font-size: 12px;
      line-height: 15px;
    }
    .not-found__link {
      margin-top: 284px;
      font-size: 12px;
      line-height: 15px;
    }
  }