.footer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 0 20px 0;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 80px;
  }
  
  .footer__title {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #a0a0a0;
    border-bottom: 1px solid #e8e8e8;
  }
  
  .footer__container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
  
  .footer__author {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    flex: 1 1 auto;
  }
  
  .footer__link {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    text-decoration: none;
  }
  
  .footer__link:hover {
    color: #a0a0a0;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .footer{
      max-width: 708px;
    }

    .footer__title{
      max-width: 708px;
    }
  }

  @media screen and (min-width:320px) and (max-width:767px) {
    .footer__title{
      max-width: 300px;
      font-size: 12px;
      line-height: 15px;
    }

    .footer__container{
      flex-direction: column-reverse;
      text-align: center;
      margin-top: 27px;

    }

    .footer__list-link{
      display: flex;
      flex-direction: column;
      gap: 12px 0;
      font-size: 12px;
      letter-spacing: 0;
    }

    .footer__link{
      margin: 0;
    }

    .footer__author {
      font-size: 12px;
      line-height: 15px;
      margin-top: 30px;
      color: #a0a0a0;
    }
  }