.navtab{
    background-color: black;
    color: white;
    text-align: center;
    padding: 24px 0 24px 0;
    font-size: 13px;
    font-weight: 500;
    text-decoration: underline;
}

.navtab__link{
    margin-right: 40px;
}

.navtab__link:last-of-type{
    margin-right: 0;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .navtab__link{
        font-size: 11px;
        margin-right: 24px;
    }
}